.orderForm {
    width: 250px;
}

.formInput {
    margin-bottom: 10px;
}

.cartGoods {
    width: calc(100% - 300px);
    overflow-y: scroll;
}

.goodsInCartList {
    list-style-type: none;
    padding: 0;
}

.goodItemInCart {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cartImage {
    width: 10%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.goodItemInCart img {
    width: 100px;
    margin-right: 10px;
}

.goodTitle {
    margin-bottom: 5px;
}

.goodPrice {
    margin-bottom: 5px;
}

.quantityCounter {
    display: flex;
    align-items: center;
}

.goodQuantity {
    width: 40px;
    margin-right: 10px;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.increment {
    margin-right: 5px;
}

.decrement {
    margin-left: 5px;
}
